body,dd,dt {font-family: "Times New Roman", Georgia, Serif;}
h1, h2 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
h3, h4, h5, h6{
  font-family: "Playfair Display";}
 p{
  font-family: Georgia;
 }

  .card {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  min-height: 100px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 2px 16px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content-section {
  padding-top: 5.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  padding-bottom: 1.5rem;
  font-size: 3rem;
}